---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Spencer Woo</title>
  </head>
  <body class="h-full mx-auto 2xl:max-w-7xl dark:bg-black">
    <section class="relative flex items-center">
      <div class="relative max-w-3xl p-4 py-24 sm:p-20 lg:p-28">
        <div class="space-y-24">
          <div class="space-y-3">
            <h1 class="text-base font-light leading-none dark:text-white">
              A work in progress (Astro and Tailwind CSS)
            </h1>

            <p class="text-base font-light leading-none dark:text-white">
              If you are looking for old articles, go to <a
                class="no-underline hover:underline"
                href="https://spwo.notion.site/7021cba3b8a04865850473d4037762ad"
                target="_blank"
                rel="noopener noreferrer">spwo.notion.site</a
              >
            </p>
            <hr
              class="border border-dotted border-b-transparent border-x-transparent dark:border-white/10"
            />
            <p>
              <a
                class="font-light no-underline text-[#707070] hover:underline"
                href="https://spencerwoo.com">spencerwoo.com</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
