---
import { Icon } from 'astro-icon'
---

<style lang="css">
  [astro-icon] {
    @apply h-5 w-5;
  }
</style>

<div class="flex flex-wrap items-center sm:items-center gap-x-4">
  <p>Find me on</p>
  <ul class="flex items-center flex-1 gap-x-4 sm:flex-initial">
    <li>
      <a
        class="inline-block p-2 sm:hover:text-link"
        href="https://github.com/spencerwooo"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon pack="ri" name="github-line" />
        <span class="sr-only">Github</span>
      </a>
    </li>
    <li>
      <a
        class="inline-block p-2 sm:hover:text-link"
        href="https://twitter.com/realSpencerWoo"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon pack="ri" name="twitter-line" />
        <span class="sr-only">Twitter</span>
      </a>
    </li>
    <li>
      <a
        class="inline-block p-2 sm:hover:text-link"
        href="https://weibo.com/u/6265807914"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon pack="ri" name="weibo-line" />
        <span class="sr-only">Discord</span>
      </a>
    </li>
    <li>
      <a
        class="inline-block p-2 sm:hover:text-link"
        href="mailto:spencer.wushangbo@gmail.com"
      >
        <Icon pack="ri" name="mail-line" />
        <span class="sr-only">Email</span>
      </a>
    </li>
  </ul>
</div>
